# =========================
# GEST (Banco SQL Server)
# =========================
GEST_DB_SERVER=192.168.0.100
GEST_DB_USER=sa
GEST_DB_PASSWORD=senha_aqui
GEST_DB_NAME=gest

# =========================
# SERASA
# =========================
SERASA_ENV=sandbox
SERASA_BASE_URL=
SERASA_CLIENT_ID=
SERASA_CLIENT_SECRET=

# =========================
# APP
# =========================
APP_ENV=development
